body {
    --main-color: rgb(22, 160, 133);
}

p {
    text-align: justify;
}

.transformHover:hover {
    transform: scale(1.1);
}

h6 {
    color: rgb(22, 160, 133);
}

.customIcon:hover {
    transform: scale(1.1);
}

.customIcon {
    transition: all 0.33s ease-in-out;
    backface-visibility: hidden;
}

.transformHover {
    transition: all 0.33s ease-in-out;
    padding: 3%;
    margin: auto;
    margin-top: 5%;
    background-color: whitesmoke;
    backface-visibility: hidden;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .transformHover {
        width: 80%;
    }
}

.nav-link {
    font-weight: bold;
}

.slick-arrow {
    color: rgb(22, 160, 133) !important;
}

.text-primary {
    color: rgb(22, 160, 133) !important;
}

.border-primary {
    border-color: rgb(22, 160, 133) !important;
}

a:active,
a:hover {
    color: rgb(22, 160, 133) !important;
}

.pb_navbar.scrolled.pb_scrolled-light ul li a.active {
    color: rgb(22, 160, 133) !important;
}

.pb_accordion .item>a[aria-expanded="true"] {
    color: rgb(22, 160, 133);
}

.pb_cover_v1 .container {
    height: inherit;
}

.proverbe {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
    font-style: italic;
    color: rgba(255, 255, 255, 1);
}

.text-cover {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}

.images {
    align-self: stretch;
    height: 100%;
}

.img1 {
    width: 100%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
}

.pb_cover_v1 {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pb_content-media {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.heading-border-top:before {
    width: 100px;
    height: 3px;
    background: rgb(22, 160, 133);
}

.heading-border-top-white {
    position: relative;
    padding-top: 30px;
}

.heading-border-top-white:before {
    position: absolute;
    top: 0;
    height: 2px;
    width: 100px;
    content: "";
    background: #ffffff;
}

.text-center .heading-border-top-white:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.heading-border-top-white.light:before {
    background: rgba(255, 255, 255, 0.7) !important;
}

#section-prestations p,
#section-prestations h2 {
    color: white;
}

.bg-grey {
    background-color: #EAEAEB !important;
}

.color-grey {
    color: #868e96 !important;
}

.border-grey {
    border-color: #868e96 !important;
}

.pb_media_v2>.icon {
    width: 100px;
    height: 100px;
}

.color-pink {
    color: rgb(233, 30, 99);
}

button.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-control {
    border-width: 2px;
}

.text-left-md {
    text-align: center;
}

@media (min-width:768px) {
    .text-left-md {
        text-align: left;
    }
}

@media (max-width:767px){
    .heading.mb-3 {
        font-size: 16pt;
    }
}


.row.slide_content p {
    font-size: 10pt;
}

.row.slide_content h3 {
    font-size: 14pt;
}

.img3.img-fluid {
    max-height: 100vh;
}